body {
  font-size: larger;
}

.ul-styles {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.listItem {
  list-style: none;
  text-align: left;
}

.completed {
  color: green;
  text-decoration: line-through;
}
