.answer-box {
  display: flex;
  flex-wrap: wrap;

  gap: 5px;
}
.answer-box div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  box-sizing: border-box;
  border: 1px solid black;
  height: 100px;
  font-size: 1.5em;
  width: calc(50% - 5px);
}
.question-box {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 25px;
}

.button-box {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  gap: 5px;
}
.button-box button {
  padding: 10px;
  background-color: transparent;
  border-radius: 3px;
}

.button-box button:nth-child(1) {
  background-color: rgba(83, 124, 83, 0.671);
}
.button-box button:nth-child(2) {
  background-color: rgba(132, 145, 17, 0.671);
}

.answerBox.selected {
  background-color: rgb(128, 128, 190);
}

.answerBox.correct {
  background-color: green;
}

.answerBox.wrong {
  background-color: red;
}

.score-container {
  display: flex;
  justify-content: center;
}
.score-box {
  text-align: center;
  margin-top: 25px;
  border: 1px solid black;
  padding: 25px;
}
